---
import { Image, Picture } from "@astrojs/image/components";


const { slug, category, title, description, author, date, image } = Astro.props;
// const { category, title, description, author, date, image } = Astro.props;

const note = "biz";

const allPosts = await Astro.glob("../posts/*.mdx");
const filteredPosts = allPosts.filter(post => post.frontmatter.note === 'biz');

import MaxPostCard from "../../components/MaxPostCard3.astro";

import MainLayout from "../../layouts/MainLayout.astro";

---

 
<MainLayout title={note}>

	<div class="flex flex-col text-biz1 font-biz w-full h-full m-2 p-5">
		<div class="flex justify-between">
		<h1 class=`text-4xl text-${note}1`>{title}</h1>
		<h2 class=`text-3xl text-${note}2`>{description}</h2>
		</div>
		<div class="flex flex-row justify-around m-2 ">
			<Image
				src="/final-characters/b1.png"
				alt="fiz the science note"
				width={300}
				height={300}
				format="avif"
				quality={100}
				fit="outside"
			/>



			<div class="m-4 bg-black bg-opacity-40 rounded-lg shadow-xl flex flex-col w-1/3 p-3 text-biz1 justify-between">
				<h2 class="text-2xl">Welcome to:</h2>
				<h1 class="text-6xl text-center ">The Food</h1>
				<h4 class="text-xl">Riding the Road to better health? you might want to think about what you put in the tank</h4>
				<h4 class="text-lg text-center">but dont you worry, I got yoo back</h4>
				<h3 class="text-xl">See whats up for grabs:</h3>
			</div>
		</div>
	</div>

	<section class="bg-slate-900 bg-opacity-40 p-3 m-3 flex-col flex flex-wrap justify-center">
        <h1 class="text-xl font-biz text-biz1">Posts</h1>
        <div class=" bg-slate-800 flex flex-wrap justify-evenly">
			{
				filteredPosts.map((post) => (
					<MaxPostCard frontmatter={post.frontmatter} url={`/posts/${post.frontmatter.slug}`} />
				))
			}
        </div>

    </section>




</MainLayout>

