---
import "../styles/global.scss";
import Navbar from "../components/Navbar.astro";
import ButtonFun from "../components/ButtonFun.astro";
import { Image, Picture } from "@astrojs/image/components";



import MainHead from '../components/MainHead.astro';
// import PortfolioPreview from '../components/PortfolioPreview/index.jsx';
import Menu from "../components/Menu.astro";
import "../styles/topMenu.scss"

const title = ["Welcome to Cooking Notes"]
const description = ["A Journey through Food and Music"]

// import RadialBackground from '../components/RadialBackground.astro';
// const backgroundColor1 = ["#B205F8"]
// const backgroundColor2 = ["#01ff3c"]
// const backgroundColor3 = ["#B205F8"]

const option1 = ["cooking"]
const option2 = ["music"]
const option3 = ["science"]
const option4 = ["sport"]
const option5 = ["About"]

const o1m = ["Rhythmic Recipes"]
const o2m = ["Tantilising Tunes"]
const o3m = ["a slice of the sci"]
const o4m = ["injurless adventure"]
const o5m = ["What is this place?!"]
---
<html lang="en">
    <head>
        <MainHead title={title} description={description} />
        <style>
            body {
                overflow: hidden;
            }

        </style>
        <!-- <RadialBackground backgroundColor1={backgroundColor1} backgroundColor2={backgroundColor2} backgroundColor3={backgroundColor3} /> -->

    </head>
    <body>
        <img src="../public/final-characters/biz.png" class="noteImg">
        <Menu option1={option1} option2={option2} option3={option3} option4={option4} option5={option5} option1message={o1m} option2message={o2m} option3message={o3m} option4message={o4m} option5message={o5m} />
    </body>
</html>

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class=""></div>
  </body>
</html>
