---
import "../styles/global.scss"
const {title} = Astro.props;
const {description} = Astro.props;

---

<meta charset="UTF-8" />

<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="../styles/global.scss">

