---
import { Image, Picture } from "@astrojs/image/components";

const {
    category,
    title,
    slogan,
    note,
    date,
    image,
    playlist,
    description,
} = Astro.props;
---

<div class="flex flex-col w-full m-2 p-5">
    <div class="flex flex-col sm:flex-row text-center justify-between">
        <h1 class=`text-4xl md:text-5xl lg:text-6xl`>{title}</h1>
        <h2 class=`text-2xl md:text-3xl lg:text-4xl` style={`color: var(--${note}-color2)`}>{slogan}</h2>
    </div>
    <div class="w-full flex flex-col md:flex-row items-center bg-yellow-400 md:justify-around rounded-xl m-2">

        <Image
            src={image.src}
            alt={image.alt}
            height={400}
            aspectRatio="6:8"
            format="avif"
            quality={100}
            fit="cover"
            class="justify-center shadow-2xl m-3 rounded-3xl shrink-0 grow-1"
        />


        <div class="flex justify-between flex-col bg-black m-5 p-5 rounded-xl shrink-1">
            <h2 class="text-3xl text-center">{description}</h2>
            <iframe
            class="rounded-xl bg-slate-900 p-2 m-2"
            src={playlist}
            width="100%"
            height="522"
            frameborder="0px"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"></iframe>
        </div>

    </div>
    <div class="flex justify-around shrink-1">
        <a href={`/the-medium/${category}`} class="text-orange-300"
            >Category: {category}</a
        >
        <a href={`/the-notes/${note}`} class=`text-${note}1 hover:text-${note}2 text-lg`>more by {note}</a>
        <p>posted: {date}</p>
    </div>
</div>