---
import {Image, Picture} from '@astrojs/image/components';

const { frontmatter, url } = Astro.props;

const {category, title, description, author, date, image} = frontmatter;

---

<p>{frontmatter.title}</p>
<pre>{JSON.stringify(frontmatter, null, 2)}</pre>


<article class="w-1/4 bg-slate-600 border-double border-4 container">
    <a href={url}>
    <Image
    src={image.src}
    alt={image.alt}
    width="200"
    aspectRatio=1:1
    format="avif"
    quality={90}
    fit="cover"
    class="shadow-2xl"
    />
    </a>
<div class="flex">
    <h1>{author} Notes</h1>
    <a href={`/the-medium/${category}`} class="text-orange-300">{category}</a>
    <a href={`/the-notes/${author}`} class="text-blue-300">more by {author}</a>
    <p>posted: {date}</p>
</div>

</article>
