---
import MainLayout from "../layouts/MainLayout.astro";

const { frontmatter } = Astro.props;
console.log(frontmatter); //This will be terminal of vscode

const { title, description, date, category, author, image } = frontmatter;
// saves it from being {frontmatter.title} ...ect

---

<MainLayout title={title} description={description}>
	<div class="flex">
    <h1>{author} Notes</h1>
    <a href={`/the-medium/${category}`} class="text-orange-300">{category}</a>
    <a href={`/the-notes/${author}`} class="text-blue-300">more by {author}</a>
    <p>posted: {date}</p>
</div>
    <img src="/final-characters/b1" width="200" />
    <div class="bg-purple-300 font-diz1">
        <slot />
    </div>

</MainLayout>