---
import MainLayout from "../layouts/MainLayout.astro";
import FoodHeader from "../components/FoodHeader.astro";
import { Image, Picture } from "@astrojs/image/components";


const { frontmatter } = Astro.props;
console.log(frontmatter); //This will be terminal of vscode

const { category, title, slogan, note, date, image, description, foodimage, playlist, statsarray, stat1, stat2, stat3, val1, val2, val3 } = frontmatter;
// saves it from being {frontmatter.title} ...ect

---

<MainLayout title={title} description={slogan} note={note}>
	<FoodHeader {title} {slogan} {date} {category} {playlist} {description} {image} {note} {statsarray} {stat1} {stat2} {stat3} {val1} {val2} {val3} />
    <div class=`m-1 p-2 flex flex-col justify-evenly bg-purple-300 font-${note} text-${note}1 rounded-xl`>
        <div class=`m-1 p-2 flex flex-row justify-between bg-grey-900 text${note}1 round-xl`>
            <div class="flex-grow m-1 p-2 bg-yellow-400 rounded-3xl">
                <h1 class="text-2xl">The Food</h1>
                <slot name="food">*** Food info goes here ***</slot>
            </div>
            <Image
                src={foodimage.src}
                alt={foodimage.alt}
                height= {400}
                aspectRatio="3:4"
                format="avif"
                quality={100}
                fit="cover"
                class="m-3 rounded-2xl"
        />
        </div>
        <div class=`m-1 p-2 flex flex-row justify-between bg-grey-900 text${note}2 round-xl`>
            <iframe style="border-radius:12px" src={playlist} width="35%" height="1352" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" ></iframe>
            <div class="flex-grow m-4 p-3 bg-yellow-400 rounded-3xl">
                <h1 class="text-2xl">The Music</h1>
                <slot name="music" />
            </div>
        </div>
        <div class=`m-1 p-2 flex flex-row justify-between bg-grey-900 text${note}3 round-xl`>
            <div class="flex-grow m-1 p-2 bg-yellow-400 rounded-3xl ">
                <h1 class="text-2xl">The Science</h1>
                <slot name="science">*** Science info goes here ***</slot>
            </div>
            
        </div>
    </div>
</MainLayout>